body {
  background-color: #D3D3D3	;
  border: 2px dashed #000000;
}

#container {
  width:1160px;
  padding: 0;
  margin: 0 auto;
  
}
#container h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}
#container .controls {
  width: 500px;
  margin: auto;
}
#container .controls #input {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  outline: none;
}
#container .controls #input:focus {
  outline: none;
}
#container .controls button {
  width: 100%;
  background: white;
  margin-top: 2px;
  border: 2px solid #000000;
  padding: 10px 0;
  cursor: pointer;
  color: white;

}
#container .controls button:focus {
  outline: 0;
}
#container .controls button:hover {
  background-color: #D3D3D3;
  color: #000000;
}
#container .controls #add {
  background-color: #2980b9;
  border-radius: 10px;
}
#container .controls #remove {
  background-color: #c0392b;
  border-radius: 10px;
}
#container ul {
  margin: 30px 0;
  padding-left: 0;
}
#container ul li {
  list-style: none;
  border: 2px solid #000000;
  width: 80%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 40px;
  margin: 5px auto;
  text-align: left;
}
#container ul li label {
  margin: 0 auto;
  vertical-align: middle;
  height: 100%;
  line-height: 40px;
  font-size: 18px;
}
#container ul li #check {
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px;
  -webkit-appearance: none;
  border: 2px solid #000000;
  position: relative;
  outline: 0;
}
#container ul li #check:checked:after {
  content: '\2714';
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 7px;
  color: black;
}
#container ul li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.8);
}
#container .mycheck {
  opacity: 1;
  border-radius: 10px;
}
.visual {
  opacity: 1 !important;
  border-radius: 10px;
}
